[Unit]
Description=Display next daily comic

[Service]
Environment="COMICS_PATH=/usr/share/calvin/comics"
User=calvin
Group=calvin
ExecStart=/app/calvin/venv/bin/calvin next-daily-comic
Restart=on-failure
RestartSec=10