[Unit]
Description=Shazam daemon
After=shazam-xhost.service docker.service
Wants=shazam-xhost.service
Requires=docker.service

[Service]
Environment="DISPLAY=:0"
User=shazam
Group=shazam
WorkingDirectory=/app/shazam/
ExecStart=/usr/bin/docker compose -f docker-compose.yaml up
ExecStop=/usr/bin/docker compose -f docker-compose.yaml down
Restart=on-failure
RestartSec=10

[Install]
WantedBy=graphical.target
